.popup { 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,.8); 
  align-items: center; 
  justify-content: center; 
  box-sizing: border-box; 
  padding: 0 19px; 
  opacity: 0; 
  visibility: hidden; 
  display: flex; 
  transition: all .5s linear; 
}

.popup_opened { 
  visibility: visible; 
  opacity: 1; 
} 

.popup__container {
  background-color: #fff;
  max-width: 350px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  flex-direction: column;
}

.popup__error {
  border: 2px solid #dc3d3d;
}

.popup__ok {
  border: 2px solid #3DDC84;
}


.popup__message {
  color: #4a4a4a;
  margin: 20px 25px 40px 25px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}


.popup__main {
  width: 50px;
  height: 50px;
  margin: 40px auto 0;
}

.popup__close-button {
  background: url(../../images/close.svg) transparent no-repeat;
  width: 32px;
  height: 32px;
  background-size: contain; 
  cursor: pointer; 
  border: none; 
  position: absolute; 
  top: -40px; 
  right: -40px; 
}

.popup__close-button:hover { 
  opacity: .8; 
} 

@media screen and (max-width: 450px) {
  .popup__close-button {
    right: 0; 
  }
}