.promo{
  max-width: calc(1280px - 80px);
  background-color: #272727;
  border-radius: 10px;
  display: flex;
  margin: 17px auto 0;
  min-height: 493px;
  align-items: end;
  position: relative;
  justify-content: center;
}

.promo__title {
  color: #fff;
  text-align: center;
  max-width: 730px;
  line-height: 1.15;
  letter-spacing: -2px;
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  top: 131px;
}

@media screen and (max-width: 1180px) {
  .promo{
      max-width: calc(100% - 60px);
  }
}

@media screen and (max-width: 768px) {
  .promo {
      max-width: calc(100% - 40px);
      min-height: 834px;
  }

  .promo__title {
    font-size: 40px;
    max-width: 660px;
    top: 329px;
    letter-spacing: -1.5px;
    line-height: 1.27;
}
}

@media screen and (max-width: 450px) {
  .promo {
      max-width: calc(100% - 28px);
      min-height: 583px;
  }

  .promo__title {
    font-size: 29px;
    max-width: 100%;
    top: 198px;
    letter-spacing: -1px;
    line-height: 37px;
  }
}